#   gitignore file : named files are not tracked in repo

#   environment variables : api keys etc here are private
.env
.env*

#   content folder : generated content is not tracked in repo
content/
#   python cache
__pycache__/

#   The tests file
tests.py